# get dataframe from file

In [37]:
import pandas as pd 
import numpy as np 

transactions_df = pd.read_csv("/Users/test/Projects/level-up/summer-of-btc/mempool.csv")

# data cleaning

In [38]:
transactions_df.rename(columns=lambda x: x.strip(), inplace=True)

def apply_parent_id_transformation(id_string): 
    if  pd.isna(id_string): 
        return []
    return id_string.split(";")

transactions_df["parents"] = transactions_df["parents"].apply(lambda x: apply_parent_id_transformation(x))
transactions_df["total_parents"] = transactions_df["parents"].apply(lambda x: len(x))

transactions_df.tail()

,tx_id,fee,weight,parents,total_parents
5209,e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...,850,568,[],0
5210,e33973618a9774aeb85548368efeaddb206ef206717e72...,1496,1488,[],0
5211,88a8c7118ac82199523eb10670f49c8b7f5ac82d404907...,1121,900,[33c7c7bcb1cc07743fc3240cac6af31e4d4a8f535cae7...,1
5212,4c5b18c0870665958fc2a377e425b70f8d01f03395af72...,862,576,[],0
5213,631dee801c00241fc61bccc56112cf7670ce7150f4c642...,850,568,[],0